// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin font-icon {
  font-family: $icon-family-base;
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  line-height: 1;

  text-transform: none !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
