// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

// $layout
html {
  font-size: responsive [.55rem] [.63rem];
  /* has to be scroll, not auto */

  overflow-y: scroll;

  backface-visibility: hidden;

  font-range: $font-range;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 750px) and (max-width: 820px) {
    font-size: .57rem !important;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  width: 100%;
  min-width: 320px;
  padding: 0;
}

body input[type='email'],
body input[type='submit'],
body input[type='text'],
body textarea {
  -webkit-appearance: none;
}

body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  transition: color .2s linear;

  outline: none;
}

// /**
//  * Basic styles for links
//  */
//  a {
//   color: $brand-color;
//   text-decoration: none;

//   @include on-event {
//     color: $text-color;
//     text-decoration: underline;
//   }
// }

figure {
  margin: 0;
}

::selection {
  background: #b3d4fc;
}

// $site
.site {
  display: flex;

  flex-direction: column;

  min-height: 100vh;
  .site-content {
    padding-top: 80px;

    flex: 1;
  }
}
